<!DOCTYPE html>
<html>
<head>
  <title>Pickmycloth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
    <ul class="nav navbar-nav navbar-left">
      <div class="dropdown">
        <li class="dropbtn">Shop</li>
        <div class="dropdown-content">
          <%= link_to  "Men", shop_mens_fabrics_path %>
          <%= link_to  "Women", shop_womens_fabrics_path %>
          <%= link_to  "Uniforms", shop_kids_fabrics_path %>
          <%= link_to  "Designer", designers_path %>
        </div>
      </div>
      <li><%= link_to "About", '#' %></li>
    </ul>
    </nav>
    <div>
      <%= link_to "PICK my CLOTH", '/', id: "logo" %>
    </div>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Help", static_pages_help_path %></li>
      <% if customer_signed_in? %>
        <li><%= link_to "Log Out", destroy_customer_session_path, method: :delete%></li>
      <% else %>
        <li> <%= link_to "Log in", new_customer_session_path %></li>
      <% end %>
    </ul>
    </nav>
  </div>
  </section>
  <section>
  <%= render 'layouts/messages' %>
  <%= yield %>
  </section>

</body>
</html>
